<div class="admin__control-navigator-global">
	<div class="admin__control-navigator-global__menu-list">
		<div class="menu__list">
			<a href="<%= acp_path %>" class="menu__list-item<% if current_page?(acp_path) %> active<% end %>">
				<span class="home_ic">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M372.6,1053.778V1046h6.222v7.778Zm0,6.222v-4.667h6.222V1060Zm7.778-14H386.6v4.667h-6.222Zm0,14v-7.778H386.6V1060Z" transform="translate(-372.6 -1046)" fill="#fff"/></svg>
				</span>
			</a>
			<a nohref class="menu__list-item navigationAdd">
				<span class="add_ic">
					<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M19,151.2H13v6H11v-6H5v-2h6v-6h2v6h6Z" transform="translate(-5 -143.2)" fill="#fff"/></svg>
				</span>
			</a>
			<a href="<%= acp_setting_path %>" class="menu__list-item<% if current_page?(acp_setting_path) %> active<% end %>">
				<span class="settings_ic">
					<svg xmlns="http://www.w3.org/2000/svg" width="19.618" height="20" viewBox="0 0 19.618 20"><path d="M56.4,1160.4l2.1,1.6a.592.592,0,0,1,.1.7l-2,3.5a.445.445,0,0,1-.6.2l-2.5-1a8.152,8.152,0,0,1-1.7,1l-.4,2.6c-.1.3-.2.4-.5.4h-4a.51.51,0,0,1-.5-.4l-.4-2.6a5.852,5.852,0,0,1-1.7-1l-2.5,1a.445.445,0,0,1-.6-.2l-2-3.5a.483.483,0,0,1,.1-.7l2.1-1.6v-2l-2.1-1.6a.592.592,0,0,1-.1-.7l2-3.5a.445.445,0,0,1,.6-.2l2.5,1a8.152,8.152,0,0,1,1.7-1l.4-2.6c.1-.3.2-.4.5-.4h4a.51.51,0,0,1,.5.4l.4,2.6a5.852,5.852,0,0,1,1.7,1l2.5-1a.445.445,0,0,1,.6.2l2,3.5a.483.483,0,0,1-.1.7l-2.1,1.6v2Zm-9.9,1.5a3.625,3.625,0,1,0-1-2.5A3.317,3.317,0,0,0,46.5,1161.9Z" transform="translate(-39.091 -1149.4)" fill="#fff"/></svg>
				</span>
			</a>
		</div>
	</div>
</div>
<div class="admin__control-navigator-wrapper">
	<div class="admin__control-navigator-wrapper-header">
		<p>Content Management System</p>
	</div>
	<div class="admin__control-navigator-wrapper__action-list">
		<div class="action__list">
			<% if controller_name != "setting" %>
				<a href="<%= acp_path %>" class="action__list-item<% if request.path == acp_path %> active<% end %>">
					Trang Chính
				</a>
				<a href="<%= acp_posts_path %>" class="action__list-item<% if request.path == acp_posts_path || current_page?(new_acp_post_path) || controller_name == "posts" && request.path == edit_acp_post_path %> active<% end %>">
					Bài Viết
				</a>
				<a href="<%= acp_categories_path %>" class="action__list-item<% if request.path == acp_categories_path || current_page?(new_acp_category_path) || controller_name == "categories" && request.path == edit_acp_category_path %> active<% end %>">
					Quản Lý Danh Mục
				</a>
				<a href="<%= acp_pricings_path %>" class="action__list-item<% if request.path == acp_pricings_path || current_page?(new_acp_pricing_path) || controller_name == "pricings" && request.path == edit_acp_pricing_path %> active<% end %>">
					Bảng Giá
				</a>
			<% else %>
				<a href="<%= acp_setting_path %>" class="action__list-item<% if current_page?(acp_setting_path) %> active<% end %>">
					Thiết Lập Chung
				</a>
				<a href="<%= acp_setting_cache_path %>" class="action__list-item<% if current_page?(acp_setting_cache_path) %> active<% end %>">
					Cache
				</a>
			<% end %>
		</div>
	</div>
</div>