@import 'framework/variables';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 400;
  overflow-x: hidden;
  line-height: normal;
  letter-spacing: 0.025rem;
}

.w-10 {
  width: 10%!important;
}

.w-20 {
  width: 20%!important;
}

.w-35 {
  width: 35%!important;
}

.bg {
  &-light {
    &.core {
      background-color: $light!important;
    }
  }
  &-silver {
    background-color: $silver;
  }
  &-gray {
    background-color: $gray;
  }
  &-black {
    background-color: $dark;
  }
}

span.br {
  display: block;
}

.text-margin-0 {
  p {
    margin: 0;
  }
}

.text-justify {
  img {
    width: 100%;
  }
}

.quote {
  padding: 1rem;
  background-color: $silver;
  border-left: 3px solid $primary;
}

.text-decoration-none {
  text-decoration: none!important;
}

.hidden, .hidden-md {
  display: none!important;
  visibility: hidden!important;
}

.no-scroll {
  overflow: hidden;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.container {
  max-width: 1200px;
  .wrapper {
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.breadcrumb {
  border-radius: 0;
}

a:not([href]):not([tabindex]).link {
  color: $blue-nd;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  &-nd {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
  }
}

table {
  .truncate {
    width: 400px;
    -webkit-line-clamp: 1;
  }
}

.table {
  &.croped {
    th, td {
      padding: 0.5rem;
      font-size: 0.875rem;
      vertical-align: middle;
      a {
        color: $black;
        font-size: 0.875rem;
        text-decoration: none;
        padding: 0.35rem 0.25rem;
        line-height: 0.875rem;
        &.ribbon-action-list-item {
          font-size: 1rem;
          padding: 1rem;
          &.primary {
            color: $primary;
          }
        }
      }
    }
    thead {
      th, td {
        border-top: none;
      }
    }
    tbody {
      tr {
        &:hover {
          // background-color: $silver;
        }
      }
    }
  }
  .ribbon {
    width: 33px;
    height: 33px;
    float: right;
    border-radius: 50%;
    opacity: 1;
    position: relative;
    .admin-edit_ic {
      &:before {
        content: "";
        width: 33px;
        height: 33px;
        display: inline-block;
        background: url('admin-edit_ic.svg') no-repeat center;
      }
    }
    &:hover {
      background-color: $silver;
    }
    &-show {
      cursor: pointer;
    }
    &-action {
      width: 150px;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      opacity: 0;
      visibility: hidden;
      background-color: $light;
      box-shadow: 0 5px 10px 0 rgba(0,0,0,.05), 0 1px 2px 0 rgba(0,0,0,.05), 0 1px 2px -1px rgba(0,0,0,.05);
      @include transition(all .3s ease);
      &-list {
        text-align: left;
        &-item {
          display: block;
          padding: 1rem;
          margin-bottom: 0;
          cursor: pointer;
          &:hover {
            background-color: $gray;
          }
        }
      }
    }
    &.focus {
      background-color: $silver;
      .ribbon-action {
        opacity: 1;
        visibility: visible;
        top: 40px;
      }
    }
  }
  span.status {
    font-size: 0.75rem;
    display: inline-block;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    &-succeeded, &-true {
      color: #24b47e;
      background-color: #24b47e33;
    }
    &-failed, &-false {
      color: $black-5nd;
      background-color: $gray-nd;
    }
  }
  &:hover {
    .admin-edit {
      opacity: 1;
    }
  }
}

// Form
.form-group {
  .form-control {
    height: unset;
    padding: .75rem .75rem;
    font-size: .875rem;
    outline: none;
    color: $black;
    @include placeholder {
      color: $black;
      font-weight: 300;
    }
    &:focus, &:active, &:hover {
      box-shadow: 0 0 0 0.2rem rgba(var(--rgba-color), 0.3);
      border-color: rgba(var(--rgba-color), 0.5);
    }
    &.outline {
      border-color: $light;
    }
    &.rounded {
      border-radius: 3rem!important
    }
  }
  &.custom {
    width: calc((100% - (100% / 3)) + 30px);
    &.haft {
      width: calc(50% - (50% / 3));
      margin: 0 30px 1rem 0;
      float: left;
    }
  }
  &.row {
    .col-form-label {
      padding: 0;
      font-size: 0.875rem;
      color: $black-5nd;
      line-height: unset;
    }
    .col-form-value {
      p {
        margin-bottom: 0;
        font-size: 0.875rem;
        font-weight: 500;
      }
      small {
        a {
          font-size: inherit;
        }
      }
      .fr-wrapper {
        p {
          font-weight: unset;
        }
      }
    }
    &:not(:last-child) {
      margin-bottom: 1rem;
    }
    &.vertical {
      .col-form-label {
        margin-top: 0.9375rem;
      }
    }
  }
}

.form-inline {
  .form-control {
    border-radius: 0.25rem 0 0 0.25rem;
  }
  .btn {
    border-radius: 0 0.25rem 0.25rem 0;
  }
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

select.form-control,
select.form-control:not([size]):not([multiple]) {
  height: 47px;
}

textarea {
  resize: none;
}

.custom-file {
  &-input {
    height: 47px;
    display: none;
    visibility: hidden;
  }
  &-label {
    width: 100%;
    height: unset;
    display: block;
    padding: .75rem .75rem;
    font-size: .875rem;
    outline: none;
    color: #333333;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:focus, &:active, &:hover {
      box-shadow: 0 0 0 0.2rem rgba(var(--rgba-color), 0.3);
      border-color: rgba(var(--rgba-color), 0.5);
    }
    &:after {
      height: unset;
      padding: .75rem .75rem;
    }
  }
}

.input-group {
  &.customize {
    height: 47px;
  }
}

// Typography
a, p, span, b, h1, h2, h3, h4, h5, h6 {
  letter-spacing: 0.05rem;
  &.light {
    color: $light;
  }
  &.primary {
    color: $primary;
  }
  &.primary-nd {
    color: $primary-nd;
  }
  &.blue {
    color: $blue;
  }
  &.blue-nd {
    color: $blue-nd;
  }
  &.black {
    color: $black;
  }
  &.black-5nd {
    color: $black-5nd;
  }
  &.small {
    font-size: 0.875rem;
  }
  &.smallest {
    font-size: 0.75rem;
  }
  &.line-height {
    line-height: 1.5;
  }
}

a, p {
  font-size: 1rem;
}

// Button
.btn,
a.btn {
  padding: .75rem 1rem;
  font-size: .875rem;
  font-weight: 700;
  box-shadow: none;
  outline: none;
  &.dark {
    color: $light;
    background-color: $dark;
  }
  &.black {
    color: $light;
    background-color: $black;
    &-nd {
      background-color: $black-nd;
    }
    &-3nd {
      background-color: $black-3nd;
    }
    &-4nd {
      background-color: $black-4nd;
    }
    &-5nd {
      background-color: $black-5nd;
      &.outline {
        color: $black-5nd;
        background-color: transparent;
        border: 2px solid $black-5nd;
      }
    }
  }
  &.gray {
    color: $dark;
    background-color: $gray;
    &.outline {
      color: $gray;
      background-color: transparent;
      border: 2px solid $gray;
    }
  }
  &.silver {
    color: $dark;
    background-color: $silver;
  }
  &.light {
    color: $dark;
    background-color: $light;
  }
  &.dark, &.black, &.gray, &.silver, &.light {
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.15);
    }
  }
  &.primary {
    color: $light;
    background-color: $primary;
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--rgba-color), 0.3);
    }
    &.outline {
      color: $primary;
      background-color: transparent;
      border: 2px solid $primary;
    }
  }
  &.primary-nd {
    color: $light;
    background-color: $primary-nd;
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--rgba-secondary-color), 0.3);
    }
    &.outline {
      color: $primary-nd;
      background-color: transparent;
      border: 2px solid $primary-nd;
    }
  }
  &.blue {
    color: $light;
    background-color: $blue;
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--rgba-color), 0.3);
    }
    &.outline {
      color: $blue;
      background-color: transparent;
      border: 2px solid $blue;
    }
  }
  &.warning {
    color: $light;
    background-color: #dc3545;
    &:focus, &:active, &:hover,
    &:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(var(--rgba-color), 0.3);
    }
    &.outline {
      color: #dc3545;
      background-color: transparent;
      border: 2px solid #dc3545;
    }
  }
  &.dark {
    color: $light;
    background-color: $dark;
    &.outline {
      color: $dark;
      background-color: transparent;
      border: 2px solid $dark;
    }
  }
  &.facebook {
    color: $blue-nd;
    border: 2px solid $blue-nd;
  }
  &-md {
    padding: 0.5rem 0.75rem;
    font-size: 0.875rem;
  }
  &.rounded {
    border-radius: 3rem!important;
  }
}

.alert {
  word-break: break-all;
  a {
    color: inherit;
  }
}

.message {
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: $gray;
  border: 1px solid $gray-nd;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  .alert_ic {
    margin-right: 0.5rem;
    display: -webkit-flex;
    float: left;
  }
  &.warning {
    color: #856404;
    background-color: #fff3cd80;
    border-color: #ffeebabf;
    h6 {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    p {
      font-size: 0.875rem;
      display: block;
      margin-bottom: 0;
      span:nth-child(2) {
        margin-top: 0.15rem;
      }
      a {
        font-size: 0.875rem;
        color: #856404;
        &.primary {
          font-weight: 500;
          text-decoration: underline;
        }
      }
    }
    .alert_ic {
      path {
        fill: #856404;
      }
    }
  }
  &.success {
    color: #24b47e;
    background-color: #24b47e33;
    border-color: #24b47e33;
    h6 {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    p {
      font-size: 0.875rem;
      display: block;
      margin-bottom: 0;
      span:nth-child(2) {
        margin-top: 0.15rem;
      }
    }
    .alert_ic {
      path {
        fill: #24b47e;
      }
    }
  }
  &.danger {
    color: #851e04;
    background-color: #ffdbcd80;
    border-color: #b44a2433;
    h6 {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    p {
      font-size: 0.875rem;
      display: block;
      margin-bottom: 0;
      span:nth-child(2) {
        margin-top: 0.15rem;
      }
    }
    .alert_ic {
      path {
        fill: #851e04;
      }
    }
  }
}

.pagination-primary {
  .pagination {
    .page-item {
      .page-link {
        color: $primary-nd;
        &:focus {
          box-shadow: 0 0 0 0.2rem rgba(var(--rgba-color), 0.3);
        }
      }
      &.active {
        .page-link {
          color: $light;
          background-color: $primary-nd;
          border-color: $primary-nd;
        }
      }
      &.disabled {
        .page-link {
          color: $black-7nd;
        }
      }
    }
  }
}

// Froala Editor
div[style="z-index: 9999;width: 100%; position: relative"],
div[style="z-index: 9999; width: 100%; position: relative;"] {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.fr-box {
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
}

.fr-toolbar.fr-top {
  box-shadow: none;
  border-top: none;
  padding: 0;
  background-color: $silver;
}

.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-separator.fr-vs {
  margin: 0;
}

.fr-box.fr-basic.fr-top .fr-wrapper {
  box-shadow: none;
  * {
    font-size: 0.875rem
  }
}

.fr-counter {
  display: none;
  visibility: hidden;
}

.loading {
  display: inline-block;
  position: relative;
  width: 28px;
  height: 28px;
  div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 28px;
    height: 28px;
    margin: 0;
    border: 4px solid $primary;
    border-radius: 50%;
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: $primary transparent transparent transparent;
    &:nth-child(1) {
      animation-delay: -0.45s;
    }
    &:nth-child(2) {
      animation-delay: -0.3s;
    }
    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 20px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
  &:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 1px;
    bottom: 1px;
    background-color: $light;
    -webkit-transition: .3s;
    transition: .3s;
  }
}

input {
  &:checked + .slider {
    background-color: $primary;
  }
  &:focus + .slider {
    box-shadow: 0 0 1px $gray;
  }
  &:checked + .slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(15px);
    transform: translateX(15px);
  }
}

.switch-group {
  .switch {
    float: left;
    margin-bottom: 0;
  }
  &-label {
    float: left;
    margin-bottom: 0;
    font-size: 0.875rem;
    margin-left: 0.5rem;
  }
}

.slider.round {
  border-radius: 34px;
  &:before {
    border-radius: 50%;
  }
}

.jw-preview.jw-reset {
  background: transparent;
}

@keyframes selected { 
  0% {
    transform: scale(0.5);
    opacity: 0.25;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes opacity {
  0% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 768px) {
  .hidden-md {
    display: block!important;
    visibility: visible!important;
  }

  .hidden-sm {
    display: none!important;
    visibility: hidden!important;
  }

  .position-sm-fixed {
    position: fixed;
    z-index: 1;
  }

  span.br {
    display: inline;
  }
}