<div class="main__hero small"></div>
<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="block py-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<p class="mb-0 quotable mx-md-5 mx-0 text-center font-weight-bold black">Dr. Nose</span> là phòng khám chuyên sâu thẩm mỹ mũi. Phụ trách chyên môn: ThS. BS CK2 Nguyễn Anh Tuấn, phó trưởng khoa, khoa Tạo Hình Thẩm Mỹ, Bệnh viện Tai Mũi Họng TP.HCM, bv đầu nghành chuyên về mũi, với hơn 22 năm kinh nghiệm trong chuyên khoa thẩm mỹ mũi.</p>
			</div>
		</div>
	</div>
</div>

<div class="block py-5 bg-silver">
	<div class="container">
		<h4 class="mb-4 primary-nd text-center">Bạn muốn thẩm mỹ mũi? Dr. Nose là lựa chọn tốt nhất:</h4>
		<div class="row mt-4">
			<div class="col-md-4 col-12">
				<p class="text-justify small">- Đội ngũ BS <b class="primary">Dr. Nose</b> chuyên sâu về sống mũi: nắm vững cấu tạo giải phẫu học và hiểu rõ chức năng sinh lý của mũi; đã tham gia nhiều nghiên cứu cũng như thực hiện rất nhiều các ca phẫu thuật thẩm mỹ mũi; thường xuyên tu nghiệp tại các nước tiên tiến như: Hoa Kỳ, Hàn Quốc...để cập nhật các phương pháp thẩm mỹ mũi mới nhất trên thế giới nhằm mang lại hiệu quả cao nhất và an toàn nhất cho khách hàng tại Việt Nam.</p>
			</div>
			<div class="col-md-4 col-12">
				<p class="text-justify small">- BS <b class="primary">Dr. Nose</b> sẽ trực tiếp khám và tư vấn rõ ràng cho bạn. Đưa ra giải pháp tốt nhất để bạn lựa chọn. Sau đó, chính các BS của Dr. Nose trực tiếp thực hiện.</p>
				<p class="text-justify small">- Quy trình chăm sóc khách hàng chuẩn <b class="primary">Dr. Nose</b> giúp bạn hồi phục nhanh và giữ được dáng mũi như ý muốn.</p>
			</div>
			<div class="col-md-4 col-12">
				<p class="text-justify small">- Khách hàng sẽ có chiếc mũi đẹp nhất, tự nhiên nhất và hài hòa nhất theo tiêu chuẩn vàng của hiệp hội thẩm mỹ Hàn Quốc. Ngoài ra sau phẫu thuật sẽ cải thiện tình trạng nghẹt mũi</p>
				<p class="text-justify small">- Trang thiết bị và dụng cụ phòng mổ hiện đại, đạt tiêu chuẩn vô trùng tuyệt đối, bảo đảm an toàn và thành công nhất cho phẫu thuật.</p>
			</div>
		</div>
	</div>
</div>

<div class="block py-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4 class="mb-4 primary-nd text-center">Giới thiệu Thẩm Mỹ Dr. Nose</h4>
				<p class="mb-0 mx-md-5 mx-0 text-center">Đến với <b class="primary">Dr. Nose</b> bạn có thể hoàn toàn tin tưởng vào chúng tôi với cái tâm của những người trong ngành y được đào tạo chính quy và bài bản tại các trường đại học y khoa uy tín; con mắt tinh tế của 1 chuyên gia thẩm mỹ và đôi tay tài hoa của đội ngũ bác sĩ giàu kinh nghiệm sẽ mang đến cho bạn những lời khuyên và những kết quả mỹ mãn nhất</p>
				<div class="background-primary-nd p-4 rounded mt-4">
					<h6 class="mb-3 font-weight-bold primary">Các phẫu thuật được thực hiện bởi đội ngũ bác sĩ giàu kinh nghiệm</h6>
					<p class="mb-0 small">Đội ngũ bác sĩ <b class="primary">Dr. Nose</b> có kiến thức chuyên môn sâu về thẩm mỹ mũi, với hệ thống bằng cấp được xác thực bởi những tổ chức uy tín trong và ngoài nước, thường xuyên tu nghiệp kỹ thuật mới tại các nước tiên tiến như: Hoa Kỳ, Hàn Quốc... Chịu trách nhiệm chính bởi <b class="primary">ThS.BS CK2 Nguyễn Anh Tuấn</b> nhiều năm kinh nghiệm trong chuyên khoa sâu thẩm mỹ mũi </p>
				</div>
				<div class="about mt-4">
					<div class="row">
						<div class="col-md-3 col-12 mb-md-0 mb-3">
							<div class="about-item background-primary-2nd p-4 rounded">
								<h6 class="mb-3 font-weight-bold primary">Chuyên nghiệp, tận tình, thân thiện</h6>
								<p class="mb-0 small">Dù bạn là ai, có hay không có sử dụng dịch vụ thì đến với <b class="primary">Thẩm Mỹ Dr. Nose</b> bạn luôn là Thượng đế.</p>
							</div>
						</div>
						<div class="col-md-3 col-12 mb-md-0 mb-3">
							<div class="about-item background-primary-2nd p-4 rounded">
								<h6 class="mb-3 font-weight-bold primary">Trang thiết bị hiện đại</h6>
								<p class="mb-0 small">Phòng khám có trang thiết bị hiện đại đạt tiêu chuẩn quốc tế đảm bảo vô trùng tuyệt đối và an toàn nhất cho phẫu thuật.</p>
							</div>
						</div>
						<div class="col-md-3 col-12 mb-md-0 mb-3">
							<div class="about-item background-primary-2nd p-4 rounded">
								<h6 class="mb-3 font-weight-bold primary">Chất lượng và uy tín được kiểm chứng</h6>
								<p class="mb-0 small"><b class="primary">Dr. Nose</b> đã thực hiện hơn 10.000 khách hàng thành công. Và chúng tôi luôn cố gắng tối đa và mong muốn đem lại kết quả đẹp nhất cho mọi người.</p>
							</div>
						</div>
						<div class="col-md-3 col-12">
							<div class="about-item background-primary-2nd p-4 rounded">
								<h6 class="mb-3 font-weight-bold primary">Thuận tiện</h6>
								<p class="mb-0 small">Nằm ở Số 147 đường Nhật Tảo, P 8, Quận 10 (gần chợ Nhật Tảo), là nơi lí tưởng và thuận tiện cho mọi khách hàng có nhu cầu về thẩm mỹ mũi.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="block py-5 bg-gray">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4 class="mb-4 primary-nd text-center">Dr. Nose cam kết với khách hàng</h4>
				<div class="about mt-4">
					<div class="row">
						<div class="col-md-3 col-12 mb-md-0 mb-3">
							<div class="about-item background-primary-2nd p-4 rectangle border-radius-100 d-flex">
								<h6 class="mb-3 font-weight-bold primary m-auto text-center">Chuyên nghiệp, tận tình, thân thiện</h6>
							</div>
						</div>
						<div class="col-md-3 col-12 mb-md-0 mb-3">
							<div class="about-item background-primary-2nd p-4 rectangle border-radius-100 d-flex">
								<h6 class="mb-3 font-weight-bold primary m-auto text-center">Trang thiết bị hiện đại</h6>
							</div>
						</div>
						<div class="col-md-3 col-12 mb-md-0 mb-3">
							<div class="about-item background-primary-2nd p-4 rectangle border-radius-100 d-flex">
								<h6 class="mb-3 font-weight-bold primary m-auto text-center">Chất lượng và uy tín được kiểm chứng</h6>
							</div>
						</div>
						<div class="col-md-3 col-12">
							<div class="about-item background-primary-2nd p-4 rectangle border-radius-100 d-flex">
								<h6 class="mb-3 font-weight-bold primary m-auto text-center">Thuận tiện</h6>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="block bg-silver py-5">
	<div class="container">
		<h4 class="mb-4 primary-nd">ThS.BS CK2 Nguyễn Anh Tuấn. <span class="br"></span>Phụ trách chính</h4>
		<div class="row mx-0">
			<div class="col-md-4 col-12 pl-md-0 pr-md-4 mb-md-0 mb-3 px-0">
				<img src="/assets/drnose/images/bsTuan.jpg" width="100%">
			</div>
			<div class="timeline col-md-8 col-12 pr-md-0 pr-0">
				<div class="">
					<div class="timeline-item mb-4">
						<h6 class="primary mb-0">1997</h6>
						<p class="mb-0 small black-5nd">
							Tốt nghiệp Bs ĐHYD Tp.HCM.
						</p>
					</div>
					<div class="timeline-item mb-4">
						<h6 class="primary mb-0">2009</h6>
						<p class="mb-0 small black-5nd">
							Tốt nghiệp Thạc Sĩ loại giỏi ĐHYD Tp.HCM.
						</p>
					</div>
					<div class="timeline-item mb-4">
						<h6 class="primary mb-0">2019</h6>
						<p class="mb-0 small black-5nd">
							Tốt nghiệp BS CK2 loại giỏi tại ĐH Y Khoa Phạm Ngọc Thạch Tp.HCM.
						</p>
					</div>
					<div class="timeline-item d-flex">
						<h6 class="primary my-auto mr-4">Nay</h6>
						<div class="timeline-item-expanded my-auto background-primary-nd p-4 rounded">
							<p class="mb-3 small">Hơn 22 năm kinh nghiệm phẫu thuật tạo hình thẩm mỹ tại các bệnh viện lớn như: BV Trưng Vương, BV Vạn hạnh, BV Triều An, BV Tai Mũi Họng Tp.HCM.</p>
							<p class="mb-3 small">Hiện là phó trưởng khoa, khoa Tạo Hình Thẩm Mỹ BV Tai Mũi Họng Tp.HCM.</p>
							<p class="mb-3 small">Thực hiện hơn 20 công trình nghiên cứu khoa học được nhiều đồng nghiệp trong và ngoài nước đánh giá cao</p>
							<p class="mb-3 small">Đã phẫu thuật thành công nhiều ca khó như: Tạo hình mũi bệnh nhân mất hoàn toàn mũi, Phẫu thuật tạo hình thẩm mỹ mũi hư do các lần mổ trước thất bại, Phẫu thuật tạo hình mũi vẹo khó sau chấn thương hoặc bẩm sinh...</p>
							<p class="mb-3 small">Tu nghiệp tạo hình thẩm mỹ tại: Hàn Quốc, HongKong, Đài Loan,…</p>
							<p class="mb-0 small">Cùng các chuyên gia nước ngoài, tham gia giảng dạy phẫu thuật tạo hình thẩm mỹ cho các Bs Việt Nam và sinh viên y khoa quốc tế.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="block bg-light core py-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-8 col-12">
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/61.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/62.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/63.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/64.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/65.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/66.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/67.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/68.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/69.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/70.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/71.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/72.png" class="w-100 rounded mb-3"></p>
				<p><img src="https://s3.vnetwork.vn/drnose/uploads/files/73.png" class="w-100 rounded mb-3"></p>
				<p class="text-center"><img src="https://s3.vnetwork.vn/drnose/uploads/files/74.png" class="w-50 rounded mb-0"></p>
			</div>
		</div>
	</div>
</div>