<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section py-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4 class="mb-4 primary-nd">404</h4>
				<p class="mb-0"><%= flash[:path_notice] %> not found</p>
			</div>
		</div>
	</div>
</div>