<div class="main__hero"></div>

<div class="block py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-12 mb-md-0 mb-3">
        <img src="/assets/drnose/images/about.jpg" class="rounded shadow" width="100%">
      </div>
      <div class="col-md-6 col-12">
        <h3 class="mb-3 primary font-weight-normal">Chào mừng đến với Thẩm Mỹ Viện<span class="br"></span>Dr. Nose</h3>
        <p class="mb-3 line-height text-justify">
          Đến với Dr. Nose bạn có thể hoàn toàn tin tưởng vào chúng tôi với cái tâm của người bác sĩ được đào tạo chính quy và bài bản tại các trường đại học y khoa uy tín nhất; với con mắt tinh tế của 1 chuyên gia thẩm mỹ và đôi tay tài hoa của đội ngũ bác sĩ giàu kinh nghiệm sẽ cho bạn những lời tư vấn và những kết quả mỹ mãn nhất
        </p>
        <p class="mb-3 line-height text-justify">
          - Dr. Nose là phòng khám chuyên sâu thẩm mũi, đội ngũ bác sĩ có chuyên môn cao và và nhiều kinh nghiệm, do đó có thể nói Dr. Nose là địa chỉ thẩm mỹ mũi hoàn hảo, an toàn và tin cậy cho mọi khách hàng.
        </p>
        <p class="mb-0 line-height text-justify">
          - Tại Dr. Nose, mỗi dáng mũi sẽ được bác sĩ khám kỹ, đánh giá cẩn thận và phẫu thuật thật chăm chút tỉ mỉ- cá nhân hóa cho từng gương mặt để tôn lên vẻ đẹp riêng của mỗi người 
        </p>
      </div>
    </div>
  </div>
</div>

<div class="block background-primary-nd py-5">
  <h3 class="text-center primary mb-0">6 Lý Do Khách Hàng Chọn Dr.Nose</h3>
  <div class="container">
    <div class="row mt-4">
      <div class="col-md-2 col-6 mb-md-0 mb-3 text-center">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="95.316" height="77" viewBox="0 0 95.316 77"><g transform="translate(-105.704 -677.307)"><line x2="95.316" transform="translate(105.704 753.307)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M199.475,764.946v-33.86H126.337v33.86" transform="translate(-4.55 -11.638)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M113.74,755.175v-68.4h33.521v34.537" transform="translate(-1.772 -1.868)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M156.745,774.524" transform="translate(-11.255 -21.217)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M181.97,771.028V758.669H156.745v12.359" transform="translate(-11.255 -17.721)" fill="none" stroke="#0089ff" stroke-width="2"/><line y1="12.359" transform="translate(158.356 740.948)" fill="none" stroke="#0089ff" stroke-width="2"/><line x2="55.361" transform="translate(130.252 728.59)" fill="none" stroke="#0089ff" stroke-width="2"/><line x2="55.361" transform="translate(130.252 736.377)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M150.039,693.945h-23.7v5.926" transform="translate(-4.55 -3.448)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M150.039,704.805h-23.7v5.926" transform="translate(-4.55 -5.843)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M150.039,716.1h-23.7v5.925" transform="translate(-4.55 -8.334)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M121.993,684.91v-6.6h23.194v6.6" transform="translate(-3.592 0)" fill="none" stroke="#0089ff" stroke-width="2"/><line y1="8.719" transform="translate(186.291 710.728)" fill="none" stroke="#0089ff" stroke-width="2"/><circle cx="8.634" cy="8.634" r="8.634" transform="translate(177.657 694.391)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="7.957" transform="translate(186.291 698.962)" fill="none" stroke="#0089ff" stroke-width="2"/><line x2="8.465" transform="translate(182.228 703.025)" fill="none" stroke="#0089ff" stroke-width="2"/></g></svg>
        </div>
        <p class="mb-0 small">Phòng khám chuyên sâu thẩm mỹ mũi</p>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-3 text-center">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="76.016" height="78.314" viewBox="0 0 76.016 78.314"><g transform="translate(-1682.185 -953.904)"><path d="M1728.195,979.141V954.9H1695.3c-.649,0-12.118,12.118-12.118,12.118v52.8H1695.3" transform="translate(0 0)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1683.185,969.757h12.551v-6.708" transform="translate(0 -2.735)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1745.781,1027.23v16.879h-10.223" transform="translate(-18.612 -25.857)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><circle cx="8.223" cy="8.223" r="8.223" transform="translate(1697.002 997.406)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><circle cx="12.612" cy="12.612" r="12.612" transform="translate(1693.078 992.942)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1705.924,1049.509c.211.133-2.106,11.674-2.106,11.674l5.627-2.164,4.905,4.616v-12.323" transform="translate(-7.334 -33.732)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1726.165,1047.813c-.5.409,2.02,8.19,2.02,8.19l-4.905-1.592-3.606,5.193" transform="translate(-12.949 -33.162)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1711.746,1031.749l2.669,2.741,5.482-4.328" transform="translate(-10.133 -26.623)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><line x2="24.894" transform="translate(1693.078 974.937)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><line x2="24.894" transform="translate(1693.078 979.857)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><line x2="16.446" transform="translate(1697.002 984.778)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1763.713,1029.424c-.865-.65-9.521-.757-10.928-14.174l-9.438-12.172a3.748,3.748,0,0,1,.461-5.089h0a3.744,3.744,0,0,1,5.087.078c4.92,4.7,15.545,14.643,17.2,14.477" transform="translate(-21.396 -15.379)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1761.049,999.537l16.68,8.816a4.281,4.281,0,0,1,2.261,3.372l1.639,16.893a3.526,3.526,0,0,0,.586,1.631l3.071,4.56" transform="translate(-28.084 -16.384)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M1756.325,1038.958s.1,5.218,3.779,7.826a2.849,2.849,0,0,1,.8.822,8.5,8.5,0,0,1,1.152,3.129" transform="translate(-25.901 -30.189)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/></g></svg>
        </div>
        <p class="mb-0 small">Đội ngũ BS có chuyên môn cao và nhiều kinh nghiệp về thẩm mỹ mũi</p>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-3 text-center">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="52.333" height="77.859" viewBox="0 0 52.333 77.859"><g transform="translate(-545.667 -1116.141)"><g transform="translate(547 1118)"><path d="M410.478,657.783s-13.8,12.555,0,31.857l7.761,13.68v19.114" transform="translate(-386.498 -657.783)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M415.042,657.783s13.8,12.555,0,31.857l-7.761,13.68v19.114" transform="translate(-387.851 -657.783)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><circle cx="5.735" cy="5.735" r="5.735" transform="translate(7.941 59.118)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><circle cx="5.735" cy="5.735" r="5.735" transform="translate(31.765 59.118)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><line y2="17.206" transform="translate(49.118)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M451.905,719.031h-9.031a6.492,6.492,0,0,0-6.492,6.492v4.384a9.247,9.247,0,0,0,9.247,9.247h0a6.276,6.276,0,0,1,6.276,6.275v27.933" transform="translate(-401.905 -699.512)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M384.641,689.673s3.256-20.866-13.417-31.89v72.659c0,1.292,1.53,2.341,3.418,2.341h0c1.888,0,3.418-1.048,3.418-2.341V702.665" transform="translate(-371.224 -657.783)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><line y1="5.749" x2="12.073" transform="translate(0 34.913)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/></g></g></svg>
        </div>
        <p class="mb-0 small">Trang thiết bị hiện đại đảm bảo vô trùng tuyệt đối và an toàn nhất cho phẫu thuật</p>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-3 text-center">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="52.26" height="77.226" viewBox="0 0 52.26 77.226"><g transform="translate(-2699.701 -847.207)"><path d="M2728.572,910.5c-4.232,5.068-13.3,1.154-13.3,1.154s-16.2,2.675-14.42-9.877a16.107,16.107,0,0,1,3.286-7.539c5.611-7.267,22.92-29.977,32.636-46.029" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><line x1="3.284" y2="12.15" transform="translate(2725.865 911.057)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/><path d="M2747.7,890.56s9.445,20.165-6.358,23.616a12.326,12.326,0,0,1-12.436-4.194,6.921,6.921,0,0,0-3.261-2.315c-4.207-1.29-8.546,1.559-10.956,3.584" transform="translate(0.46 0.233)" fill="none" stroke="#0089ff" stroke-linecap="round" stroke-width="2"/></g></svg>
        </div>
        <p class="mb-0 small">Dáng mũi đẹp hài hòa theo chuẩn Hiệp hội thẩm mỹ Hàn Quốc</p>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-3 text-center">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="66.182" height="77" viewBox="0 0 66.182 77"><g transform="translate(-603.105 -460.493)"><path d="M646.474,541.631l10.24,4.579a19.826,19.826,0,0,1,11.572,18.158v4.174h-64.18s-.115-14.866,6.052-19.507" transform="translate(0 -32.048)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M614.909,562.059h-2V549.367a9.049,9.049,0,0,1,9.048-9.048h0a9.049,9.049,0,0,1,9.049,9.048v12.692h-2.233" transform="translate(-3.282 -31.559)" fill="none" stroke="#0089ff" stroke-width="2"/><circle cx="2.585" cy="2.585" r="2.585" transform="translate(611.626 527.914)" fill="none" stroke="#0089ff" stroke-width="2"/><circle cx="2.585" cy="2.585" r="2.585" transform="translate(620.01 527.914)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="6.816" transform="translate(649.101 511.342)" fill="none" stroke="#0089ff" stroke-width="2"/><circle cx="2.703" cy="2.703" r="2.703" transform="translate(646.365 520.335)" fill="none" stroke="#0089ff" stroke-width="2"/><circle cx="5.464" cy="5.464" r="5.464" transform="translate(643.562 517.573)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M646.673,546.977c.235-.235,4.285-7.991,4.285-7.991l-5.279-3.951a2.5,2.5,0,0,0-3.455.446l-.933,1.174a2.5,2.5,0,0,0-.046,3.051Z" transform="translate(-14.426 -28.768)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M657.027,538.835l3.823,7.991,6.124-8.031a1.887,1.887,0,0,0-.225-2.535l-1.783-1.634a1.887,1.887,0,0,0-2.437-.1Z" transform="translate(-20.837 -28.614)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="26.91" transform="translate(636.364 509.582)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M627.317,535.649s-1.175-7.857,10.341-7.857" transform="translate(-9.126 -26.019)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="7.307" transform="translate(628.887 498.993)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="7.843" transform="translate(643.791 498.507)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M647.593,512.995c-7.815,0-12.026-10.4-12.026-10.4l-2.574-2.175a2.287,2.287,0,0,1-.81-1.747V496.7a2.289,2.289,0,0,1,.554-1.493h0a2.287,2.287,0,0,1,3.3-.172l1.519,1.429h1.473v-8.583s5.317,2.963,8.737,2.861c4.034,0,9.245-2.861,9.245-2.861v8.583" transform="translate(-11.262 -10.529)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M666.789,500.348l1.518-1.429a2.287,2.287,0,0,1,3.3.172h0a2.286,2.286,0,0,1,.555,1.493v1.971a2.289,2.289,0,0,1-.81,1.747l-2.574,2.175s-4.211,10.4-12.026,10.4" transform="translate(-20.839 -14.577)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M635.554,488.655V477.888a5.409,5.409,0,0,1,4.629-5.481" transform="translate(-12.321 -4.068)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M675.395,488.655V477.888a5.409,5.409,0,0,0-4.629-5.481" transform="translate(-26.116 -4.068)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M660.391,463.128v9.809H642.934v-9.809a33.28,33.28,0,0,1,8.667-1.635A34.757,34.757,0,0,1,660.391,463.128Z" transform="translate(-15.407 0)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="6.335" transform="translate(636.364 464.15)" fill="none" stroke="#0089ff" stroke-width="2"/><line x2="6.488" transform="translate(633.192 467.215)" fill="none" stroke="#0089ff" stroke-width="2"/></g></svg>
        </div>
        <p class="mb-0 small">BS có chứng chỉ hành nghề trực tiếp khám, tư vấn và phẫu thuật</p>
      </div>
      <div class="col-md-2 col-6 mb-md-0 mb-3 text-center">
        <div class="mb-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="80.204" height="77.016" viewBox="0 0 80.204 77.016"><g transform="translate(-2322.45 -1157.119)"><circle cx="3.292" cy="3.292" r="3.292" transform="translate(2362.288 1198.844)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M2356.921,1193.354s8.984.206,14.471-5.075c0,0,8.916,7.132,20.506,3.978" transform="translate(-12.328 -11.107)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M2353.911,1194.729s1.1,16.734,16.529,16.734,16.6-16.126,16.6-16.126l2.126-4.038c3.155-7.132-1.234-10.15-1.234-10.15a14.028,14.028,0,0,0-2.88-10.562s-6.036-7.132-19.341-4.8-12.757,16.46-12.757,16.46c-5.075,4.115.96,12.482.96,12.482s-11.8-.274-6.309-15.774l1.234-1.509s-1.92-15.054,16.322-18.655,25.1,8.779,25.1,8.779a21.931,21.931,0,0,1,2.881,10.973s3.292,1.1,1.783,11.521c0,0-.138,2.743-6.173,4.664a54.986,54.986,0,0,0-12.345,6.31" transform="translate(-8.358)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M2389.249,1237.209v9.151a12.594,12.594,0,0,1-10.072,4.526,11.7,11.7,0,0,1-9.876-5.075v-8.6" transform="translate(-16.889 -29.136)" fill="none" stroke="#0089ff" stroke-width="2"/><line y2="11.385" transform="translate(2362.288 1221.751)" fill="none" stroke="#0089ff" stroke-width="2"/><path d="M2372.359,1242.578s29.295,3.017,29.295,21.672H2323.47s-1.1-16.46,28.942-21.672" transform="translate(0 -31.115)" fill="none" stroke="#0089ff" stroke-width="2"/></g></svg>
        </div>
        <p class="mb-0 small">Quy trình chăm sóc khách hàng tiến tiến</p>
      </div>
    </div>
  </div>
</div>

<div class="block" style="background: url('/assets/drnose/images/doctor.png') no-repeat center/cover">
  <div class="background-primary-st py-5">
    <h3 class="text-center light mb-0">Đội ngũ bác sĩ</h3>
    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-md-4 col-12 mb-md-0 mb-4 text-md-left text-center">
          <div class="doctor-avartar mb-3 mx-md-0 mx-auto">
            <img src="/assets/drnose/images/doctor-1.png">
          </div>
          <h5 class="light">Nguyễn Anh Tuấn</h5>
          <h6 class="light">ThS.BS CK2</h6>
          <p class="mb-0 mt-md-4 mt-3 small light pr-md-4">
            Phụ trách chuyên môn phòng khám: ThS.BS chuyên khoa 2 với 22 năm kinh nghiệm, đã thực hiện thành công hơn 10.000 ca thẩm mỹ mũi
          </p>
        </div>
        <div class="col-md-4 col-12 mb-md-0 mb-4 text-md-left text-center">
          <div class="doctor-avartar mb-3 mx-md-0 mx-auto">
            <img src="/assets/drnose/images/doctor-2.png">
          </div>
          <h5 class="light">Nguyễn Thị Trang Linh</h5>
          <h6 class="light">ThS.BS</h6>
          <p class="mb-0 mt-md-4 mt-3 small light pr-md-4">
            ThS.BS với 22 năm kinh nghiệm
          </p>
        </div>
        <div class="col-md-4 col-12 text-md-left text-center hidden">
          <div class="doctor-avartar mb-3 mx-md-0 mx-auto">
            <img src="/assets/drnose/images/doctor-3.jpg">
          </div>
          <h5 class="light">Nguyễn Hữu Thường</h5>
          <h6 class="light">BS CK1</h6>
          <p class="mb-0 mt-md-4 mt-3 small light pr-md-4 text-md-justify">
            Bác sĩ chuyên khoa I phẫu thuật tạo hình thẩm mỹ với 5 năm kinh nghiệm
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @posts.present? && @posts != [] %>
<div class="block post py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h4 class="primary mb-0">Kiến Thức</h4>
        <a href="/<%= @categories.find { |i| i["id"] == @subcategories.find { |i| i["id"] == @posts.last["category"].to_i }["category_id"] }["slug"] %>/<%= @subcategories.find { |i| i["id"] == @posts.last["category"].to_i }["slug"] %>/<%= @posts.last["slug"] %>" class="black text-decoration-none">
        <div class="mt-4">
          <div class="thumb mb-3">
            <% if @posts.last["thumb_url"] != "thumbs/null" %>
              <img src="<%= @posts.last["thumb_url"] %>" class="rounded">
            <% else %>
              <div class="bg-silver h-100 w-100 rounded"></div>
            <% end %>
          </div>
          <h5><%= @posts.last["title"] %></h5>
          <span class="black-5nd"><%= @posts.last["created_at"].to_datetime.strftime("%B %d, %Y") %></span>
        </div>
        </a>
      </div>
      <div class="col-md-6">
        <div class="mt-5">
          <% @posts.first(3).each do |post| %>
            <a href="/<%= @categories.find { |i| i["id"] == @subcategories.find { |i| i["id"] == post["category"].to_i }["category_id"] }["slug"] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>/<%= post["slug"] %>" class="black text-decoration-none">
            <div class="post-item mb-3">
              <div class="row">
                <div class="col-md-4 col-12 mt-1">
                  <div class="thumb mb-md-0 mb-3 h-100 w-100">
                    <% if post["thumb_url"] != "thumbs/null" %>
                      <img src="<%= post["thumb_url"] if post["thumb_url"] != "thumbs/null" %>" class="rounded">
                    <% else %>
                      <div class="bg-silver h-100 w-100 rounded"></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-md-8 col-12 px-md-0 px-3">
                  <h5><%= post["title"] %></h5>
                  <span class="black-5nd"><%= post["created_at"].to_datetime.strftime("%B %d, %Y") %></span>
                </div>
              </div>
            </div>
            </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
