<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section price py-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
        <h4 class="mb-4 primary-nd">Bảng Giá</h4>
        <div class="mt-4">
          <div class="row justify-content-center">
            <% @pricings.each do |pricing| %>
            <div class="col-md-4 col-12 mb-md-4 mb-3">
              <div class="border rounded">
                <div class="thumb bg-silver mb-0">
                  <% if pricing["thumb_url"] != "thumbs/null" %>
                  <img src="<%= pricing["thumb_url"].gsub("full", "thumb") %>">
                  <% end %>
                </div>
                <div class="p-3">
                  <h6><%= pricing["title"] %></h6>
                  <h4 class="primary font-weight-bold"><%= pricing["pricing"] %></h4>
                  <a href="<%= pricing["slug"] %>" class="btn btn-default primary btn-block">XEM THÊM</a>
                </div>
              </div>
            </div>
            <% end %>
          </div>
        </div>
			</div>
		</div>
	</div>
</div>