<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section posts py-5">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<h4 class="mb-4 primary-nd"><%= t('category.search') %></h4>
				<p>Có <b><%= @results.size %></b> kết quả tìm kiếm với từ khoá <b><%= params[:s] %></b></p>
			</div>
		</div>
		<div class="row">
			<% @results.each do |result| %>
				<div class="col-md-4 col-12 mt-3">
					<div class="p-4 rounded shadow">
						<% if result["thumb_url"] != "thumbs/null" %>
							<img src="<%= result["thumb_url"] %>" class="mb-3" alt="<%= result["title"] %>" width="100%">
						<% end %>
						<a href="/<%= @categories.find { |i| i["id"] == @subcategories.find { |i| i["id"] == result["category"].to_i }["category_id"] }["slug"] %>/<%= @subcategories.find { |i| i["id"] == result["category"].to_i }["slug"] %>/<%= result["slug"] %>" class="black"><h4><%= result["title"] %></h4></a>
						<p class="my-3">
							<span><%= l(result["created_at"].to_date, format: :default) %></span> | 
							<a href="<%= @categories.find { |i| i["id"] == @subcategories.find { |i| i["id"] == result["category"].to_i }["category_id"] }["slug"] %>/<%= @subcategories.find { |i| i["id"] == result["category"].to_i }["slug"] %>" class="blue-nd">
								<%= @subcategories.find { |i| i["id"] == result["category"].to_i }["title"] %>
							</a>
						</p>
						<p class="mb-0 truncate"><%= result["description"].html_safe %></p>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>