<div class="acp__content overlay">
  <div class="container">
    <div class="wrapper mt-5">
      <h2>Sign up</h2>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group mt-4">
          <%= f.label :email %><br />
          <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, :class => 'form-control', autocomplete: "off" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, :class => 'form-control', autocomplete: "off" %>
        </div>

        <div class="actions mt-3">
          <%= f.submit "Sign up", :class => 'btn btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>