<div class="container-fluid admin__control">
	<div class="row">
		<div class="admin__control-navigator clearfix">
			<%= render 'acp/shared/sidebar' %>
		</div>
		<div class="admin__control-container clearfix">
			<div class="admin__control-container-resize"></div>
			<div class="admin__control-container-wrapper bg-white full">
				<div class="admin__control-container-wrapper-heading clearfix">
					<h5 class="mt-2 float-left mb-0">Quản Lí Cache</h5>
				</div>
				<p class="mb-0 small text-muted">Quản lí bộ nhớ tạm</p>
				<div class="col-12 mt-3 p-0">
					<a class="btn btn-default primary btn-md mt-3" rel="nofollow" data-confirm="Are you sure?" data-method="post" href="<%= acp_setting_cache_clean_path %>">Clean All Cache</a>
				</div>
			</div>
		</div>
	</div>
</div>