<div class="container-fluid admin__control">
	<div class="row">
		<div class="admin__control-navigator clearfix">
			<%= render 'acp/shared/sidebar' %>
		</div>
		<div class="admin__control-container clearfix">
			<div class="admin__control-container-resize"></div>
			<div class="admin__control-container-wrapper bg-white remote full">
				<div class="admin__control-container-wrapper-heading clearfix">
					<h5 class="mt-2 float-left mb-0"><%= t 'acp.settings' %></h5>
				</div>
				<p class="mb-0 small text-muted"><%= t 'acp.settings_description' %></p>
				<div class="col-12 mt-3 p-0">
					<%= form_for [:acp, @setting], :url => url_for(acp_setting_update_path), html: {class: 'w-md-75'} do |f| %>
						<div class="form-group vertical row">
				      <%= f.label :title, 'Tiêu đề', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_field :title, class: 'form-control', :required => true %>
				        <small class="text-muted">Tiêu đề website 50 - 100 ký tự.</small>
				      </div>
				    </div>

						<div class="form-group vertical row">
				      <%= f.label :description, 'Mô tả', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_area :description, size: '50x2', class: 'form-control', :required => true %>
				        <small class="text-muted">Đoạn mô tả website giới hạn từ 50 - 200 ký tự.</small>
				      </div>
				    </div>

				    <div class="form-group vertical row">
				      <%= f.label :about, 'Giới thiệu', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_area :about, size: '50x5', class: 'form-control wysiwyg', :required => true %>
				      </div>
				    </div>

				    <div class="form-group vertical row">
				      <%= f.label :company, 'Tên công ty', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_field :company, class: 'form-control', :required => true %>
				        <small class="text-muted">Tên công ty hiển thị ở chân trang.</small>
				      </div>
				    </div>

				    <div class="row">
				    	<div class="col-md-6 col-12">
				    		<div class="form-group vertical row">
						      <%= f.label :email, 'Email', class: 'col-sm-2 col-form-label text-right' %>
						      <div class="col-sm-9 col-form-value">
						        <%= f.text_field :email, class: 'form-control', :required => true %>
						        <small class="text-muted">Thiết lập email nhận liên hệ từ website.</small>
						      </div>
						    </div>
				    	</div>
				    	<div class="col-md-6 col-12">
				    		<div class="form-group vertical row">
						      <%= f.label :phone, 'Số điện thoại', class: 'col-sm-2 col-form-label text-right' %>
						      <div class="col-sm-9 col-form-value">
						        <%= f.text_field :phone, class: 'form-control', :required => true %>
						        <small class="text-muted">Số điện thoại hiển thị ở đầu trang và chân trang.</small>
						      </div>
						    </div>
				    	</div>
				    </div>

				    <div class="form-group vertical row">
				      <%= f.label :address, 'Địa chỉ', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_field :address, class: 'form-control', :required => true %>
				        <small class="text-muted">Địa chỉ bao gồm các thông tin đầy đủ [Số nhà][Đường][Phường/Xã][Quận/Huyện][Tỉnh/Thành Phố]. Ví dụ: 27 Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Hồ Chí Minh</small>
				      </div>
				    </div>

				    <h6 class="mt-4">Thiết lập khác</h6>

				    <div class="form-group vertical row">
				      <%= f.label :g_verification, 'Google Verification', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_field :g_verification, class: 'form-control', :required => true %>
				        <small class="text-muted">Mã xác thực Google Webmaster Tool</small>
				      </div>
				    </div>

				    <div class="form-group vertical row">
				      <%= f.label :g_analytic, 'Google Analytics', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_field :g_analytic, class: 'form-control', :required => true %>
				        <small class="text-muted">Google Analytics ID</small>
				      </div>
				    </div>

				    <div class="form-group vertical row">
				      <%= f.label :fb_pixel, 'Facebook Pixel Code', class: 'col-sm-2 col-form-label text-right' %>
				      <div class="col-sm-9 col-form-value">
				        <%= f.text_field :fb_pixel, class: 'form-control', :required => true %>
				        <small class="text-muted">Facebook Pixel Code ID</small>
				      </div>
				    </div>

				    <div class="row mt-4">
				      <div class="col-sm-12">
				        <%= button_tag(type: "submit", class: "btn btn-default primary-nd rounded mr-2") do %>
				          Lưu Thiết Lập
				        <% end %>
				        <a href="<%= url_for(:back) %>" class="btn btn-default dark outline rounded">Quay Lại</a>
				      </div>
				    </div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>