<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1 style="font-size:2rem;margin-bottom:1rem">
      Khách hàng <%= @name %> gửi liên hệ từ website
    </h1>
    <p><b>Địa chỉ email:</b> <%= @email %></p>
    <p><b>Số điện thoại:</b> <%= @phone %></p>
    <p><b>Tiêu Đề:</b> <%= @subject %></p>
    <p><b>Nội dung:</b> <%= @message %></p>
  </body>
</html>