<div class="container-fluid admin__control">
  <div class="row">
    <div class="admin__control-navigator clearfix">
      <%= render 'acp/shared/sidebar' %>
    </div>
    <div class="admin__control-container clearfix">
      <div class="admin__control-container-resize"></div>
      <div class="admin__control-container-wrapper bg-white full">
        <div class="admin__control-container-wrapper-heading clearfix">
          <h5 class="mt-2 float-left">Tất Cả Bài Viết</h5>
          <a href="<%= new_acp_post_path %>" class="btn btn-default primary rounded outline btn-md float-right"><span class="add_ic"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M19,151.2H13v6H11v-6H5v-2h6v-6h2v6h6Z" transform="translate(-5 -143.2)" fill="var(--main-color)"/></svg></span>&nbsp;&nbsp;Thêm Mới</a>
        </div>

        <div class="form-group mt-3">
          <div class="form-search">
            <span class="search_ic"></span>
            <input type="" name="" id="search" class="form-control" placeholder="Tìm kiếm bài viết ...">
          </div>
        </div>

        <table class="table croped mt-3 mb-0">
          <thead>
            <tr>
              <th scope="col">Tên Bài Viết</th>
              <th scope="col">Mô Tả</th>
              <th scope="col">Danh Mục</th>
              <th scope="col">Nổi Bật</th>
              <th scope="col">Ẩn</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% if @posts.present? %>
              <% @posts.each do |post| %>
                <tr>
                  <td><%= post["title"] %></td>
                  <td><p class="small truncate mb-0"><%= post["description"] %></p></td>
                  <td><p class="small mb-0"><%= Subcategory.last.present? ? Subcategory.find(post["category"]).title : post["category"] %></p></td>
                  <td><span class="status status-<%= post["featured"] %>"><%= boolean(post["featured"]).titlecase %></span></td>
                  <td><span class="status status-<%= post["hidden"] %>"><%= boolean(post["hidden"]).titlecase %></span></td>
                  <td>
                    <div class="ribbon">
                      <span class="admin-edit_ic ribbon-show"></span>
                      <div class="ribbon-action rounded">
                        <div class="ribbon-action-list">
                          <a class="ribbon-action-list-item" href="<%= edit_acp_post_path(post["id"]) %>">Sửa Bài Viết</a>
                          <a class="ribbon-action-list-item primary" rel="nofollow" data-confirm="Are you sure?" data-method="delete" href="<%= acp_post_path(post["id"]) %>">Xoá</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% else %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="edit-post-modal hidden">
  <div class="edit-post-modal-wrapper p-3 rounded">
    <div class="edit-post-modal-heading clearfix">
      <h5 class="mt-2 float-left">Sửa Bài Viết</h5>
      <div class="loading float-right"><div></div><div></div><div></div><div></div></div>
    </div>
    <div id="postModal"></div>
  </div>
</div>