<%= form_for [:acp, @category], html: { id: 'form', multipart: true } do |f|%>
  <div class="admin__control-container-wrapper bg-white remote">
    <h5 class="mt-2 float-left"><%= action_name == "new" ? "Thêm" : "Sửa" %> Danh Mục</h5>
    <div class="form-group vertical row mt-4">
      <%= f.label :title, 'Title', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <% if action_name != "edit" %>
        <%= f.text_field :title, class: 'form-control', id: 'title', :required => true %>
        <%= f.hidden_field :slug, id: 'slug' %>
        <% else %>
        <%= f.text_field :title, class: 'form-control', :required => true %>
        <% end %>
        <small class="text-muted">Tiêu đề giới hạn từ 10 - 100 ký tự.</small>
      </div>
    </div>

    <div class="form-group vertical row">
      <%= f.label :description, 'Giới Thiệu', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.text_area :description, size: '50x2', class: 'form-control', :required => true %>
        <small class="text-muted">Đoạn giới thiệu danh mục giới hạn từ 50 - 200 ký tự.</small>
      </div>
    </div>

    <div class="form-group vertical row">
      <%= f.label :detail, 'Giới Thiệu Dịch Vụ', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.text_area :detail, class: 'form-control wysiwyg'%>
        <small class="text-muted">Đoạn giới thiệu chi tiết dành cho dịch vụ.</small>
      </div>
    </div>

    <div class="form-group vertical row">
      <%= f.label :category_type, 'Nhóm Danh Mục', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.select :category_type, options_for_select([[t('category.post'), 1], [t('category.service'), 3], ["Media", 6]], selected: @category.category_type), {}, {class: 'form-control'} %>
      </div>
    </div>

    <div class="form-group vertical row">
      <%= f.label :thumb, 'Ảnh Thumbnail', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <% if action_name == "edit" && @category.thumb.exists? && params[:thumb].nil? %>
          <div class="admin__control-container-additional-thumb clearfix">
            <div class="admin__control-container-additional-thumb-review">
              <a href="<%= request.fullpath %>?thumb=replace" class="admin__control-container-additional-thumb-review-edit">
                <span class="close_ic">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M388.6,875.4,383,881l5.6,5.6-1.4,1.4-5.6-5.6L376,888l-1.4-1.4,5.6-5.6-5.6-5.6L376,874l5.6,5.6,5.6-5.6Z" transform="translate(-374.6 -874)" fill="#fff"/></svg>
                </span>
              </a>
              <img src="<%= @category.thumb.url %>">
            </div>
            <div class="admin__control-container-additional-thumb-info">
              <p>Filename: <%= @category.thumb_file_name %></p>
            </div>
          </div>
        <% else %>
        <div class="input-group customize">
          <div class="custom-file">
            <%= f.file_field :thumb, class: 'custom-file-input', id: "thumbUpload" %>
            <label class="custom-file-label" for="thumbUpload">Chọn ảnh tải lên</label>
          </div>
        </div>
        <% if action_name == "edit" && @category.thumb.exists? && params[:thumb] == "replace" %>
          <small><a href="<%= edit_acp_category_path(@category) %>">Huỷ</a></small>
        <% end %>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :featured, 'Nổi Bật', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <div class="switch-group clearfix">
          <label class="switch">
            <%= f.check_box :featured, { class: 'custom-control-input', checked: @category.featured }, "true", "false" %>
            <span class="slider round"></span>
          </label>
          <%= f.label :featured, 'Hiển thị nổi Bật', class: 'switch-group-label' %>
        </div>
      </div>
    </div>

    <div class="form-group row mb-0">
      <%= f.label :hidden, 'Ẩn', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <div class="switch-group clearfix">
          <label class="switch">
            <%= f.check_box :hidden, { class: 'custom-control-input', checked: @category.hidden }, "true", "false" %>
            <span class="slider round"></span>
          </label>
          <%= f.label :hidden, 'Ẩn danh mục này', class: 'switch-group-label' %>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12">
        <%= button_tag(type: "submit", class: "btn btn-default primary-nd rounded mr-2") do %>
          Lưu Danh Mục
        <% end %>
        <a href="<%= url_for(:back) %>" class="btn btn-default dark outline rounded">Quay Lại</a>
      </div>
    </div>
  </div>
<% end %>
