<div class="container-fluid admin__control">
  <div class="row">
    <div class="admin__control-navigator clearfix">
      <%= render 'acp/shared/sidebar' %>
    </div>
    <div class="admin__control-container clearfix">
      <div class="admin__control-container-resize"></div>
      <div class="admin__control-container-wrapper bg-white full">
        <div class="admin__control-container-wrapper-heading clearfix">
          <h5 class="mt-2 float-left">Tất Cả Danh Mục</h5>
          <a href="<%= new_acp_category_path %>" class="btn btn-default primary rounded outline btn-md float-right"><span class="add_ic"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M19,151.2H13v6H11v-6H5v-2h6v-6h2v6h6Z" transform="translate(-5 -143.2)" fill="var(--main-color)"/></svg></span>&nbsp;&nbsp;Thêm Mới</a>
        </div>

        <div class="form-group mt-3">
          <div class="form-search">
            <span class="search_ic"></span>
            <input type="" name="" id="search" class="form-control" placeholder="Tìm kiếm danh mục ...">
          </div>
        </div>

        <div class="mt-4">
          <h6 class="black-5nd small"><b>Xem Theo Nhóm</b></h6>
          <div class="filter">
            <a href="<%= acp_categories_path %>" class="filter-item<%= params[:type].nil? ? ' active' : '' %>"><%= t('category.all') %></a>
            <a href="<%= acp_categories_path %>?type=1" class="filter-item<%= params[:type] == "1" ? ' active' : '' %>"><%= t('category.post') %></a>
            <a href="<%= acp_categories_path %>?type=3" class="filter-item<%= params[:type] == "3" ? ' active' : '' %>"><%= t('category.service') %></a>
          </div>
        </div>

        <table class="table croped mt-4 mb-0">
          <thead>
            <tr>
              <th scope="col">Tên Danh Mục</th>
              <th scope="col">Mô Tả</th>
              <th scope="col">Nhóm Danh Mục</th>
              <th scope="col">Nổi Bật</th>
              <th scope="col">Ẩn</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% if @categories.present? %>
              <% @categories.each do |category| %>
                <tr>
                  <td><%= category["title"] %></td>
                  <td><p class="small truncate mb-0"><%= category["description"] %></p></td>
                  <td><p class="small mb-0"><%= category(category["category_type"]) %></p></td>
                  <td><span class="status status-<%= category["featured"] %>"><%= boolean(category["featured"]).titlecase %></span></td>
                  <td><span class="status status-<%= category["hidden"] %>"><%= boolean(category["hidden"]).titlecase %></span></td>
                  <td>
                    <div class="ribbon">
                      <span class="admin-edit_ic ribbon-show"></span>
                      <div class="ribbon-action rounded">
                        <div class="ribbon-action-list">
                          <a class="ribbon-action-list-item" href="<%= edit_acp_category_path(category["id"]) %>">Sửa Danh Mục</a>
                          <a class="ribbon-action-list-item" href="<%= acp_category_path(category["id"]) %>">Danh Mục Con</a>
                          <a class="ribbon-action-list-item primary" rel="nofollow" data-confirm="Are you sure?" data-method="delete" href="<%= acp_category_path(category["id"]) %>">Xoá</a>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            <% else %>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>