<div class="container-fluid admin__control">
	<div class="row">
		<div class="admin__control-navigator clearfix">
			<%= render 'acp/shared/sidebar' %>
		</div>
		<div class="admin__control-container clearfix">
			<div class="admin__control-container-resize"></div>
			<div class="admin__control-container-wrapper bg-white full">
				<div class="admin__control-container-wrapper-heading clearfix">
					<h5 class="mt-2 float-left mb-0"><%= t 'acp.title' %></h5>
				</div>
				<p class="mb-0 small text-muted"><%= request.host %></p>
			</div>
		</div>
	</div>
</div>