<div class="main__hero small" id="hero" <% if @subcategory["thumb_url"] != "thumbs/null" %>style="background: url('<%= @subcategory["thumb_url"] %>') no-repeat center/cover"<% end %>></div>
<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section posts py-5">
	<div class="container">
		<h4 class="mb-4 primary-nd"><%= @subcategory["title"].titleize %></h4>
		<div class="row">
			<% if @category["category_type"].to_i == 1 || @category["category_type"].to_i == 2 %>
				<% if @posts != [] %>
					<% @posts.last(6).each do |post| %>
						<div class="post-item col-md-4 col-12 mb-4">
							<div class="item bg-silver">
								
								<div class="thumb bg-silver">
									<% if post["thumb_url"] != "thumbs/null" %>
										<img data-src="<%= post["thumb_url"] %>" class="mb-3" alt="<%= post["title"] %>" width="100%">
									<% end %>
								</div>
								
								<div class="content p-3">
									<a href="/<%= params[:category] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>/<%= post["slug"] %>" class="black">
										<h5><%= post["title"] %></h5>
									</a>
									<p class="my-3">
										<span><%= l(post["created_at"].to_date, format: :default) %></span> | 
										<a href="/<%= params[:category] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>" class="blue-nd">
											<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["title"].titleize %>
										</a>
									</p>
									<p class="mb-3 truncate"><%= post["description"].html_safe %></p>
									<a href="/<%= params[:category] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>/<%= post["slug"] %>" class="blue-nd">Xem Thêm</a>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="col-12">
						<p class="mb-0">No post founded!</p>
					</div>
				<% end %>
			<% elsif @category["category_type"].to_i == 3 %>
				<div class="col-md-8 col-12">
					<% if @subcategory["description"] %>
						<p class="mb-0"><%= @subcategory["description"] %></p>
					<% end %>
					
					<% if @subcategory["detail"] %>
						<div class="mt-4 text-justify">
						<%=raw @subcategory["detail"] %>
						</div>
					<% end %>
				</div>
				<% if @related.present? && @related.length != 0 %>
				<div class="col-md-4 col-12">
					<div class="rounded border p-3" id="related">
						<h5 class="primary text-uppercase">Kiến thức vừa đăng</h5>
						<div class="mt-4">
							<% @related.each do |related| %>
								<div class="related row mb-4">
									<div class="thumb col-md-4 col-12 mb-md-0 mb-3">
										<% if related["thumb_url"] != "thumbs/null" %>
											<img src="<%= related["thumb_url"] %>" class="rounded">
										<% else %>
											<div class="bg-silver h-100 w-100 rounded"></div>
										<% end %>
									</div>
									
									<div class="col-md-8 col-12 px-md-0">
										<a href="/<%= @categories.find { |i| i["id"] == @subcategories.find { |i| i["id"] == related["category"].to_i }["category_id"] }["slug"] %>/<%= @subcategories.find { |i| i["id"] == related["category"] }["slug"] %>/<%= related["slug"] %>" class="mb-2 font-weight-bold black d-block"><%= related["title"] %></a>
										<p class="mb-0 small"><%= related["created_at"].to_datetime.strftime("%B %d, %Y") %></p>
									</div>
								</div>
							<% end %>
						</div>
					</div>
				</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>