<div class="main__hero small" id="hero" <% if @post["thumb_url"] != "thumbs/null" %>style="background: url('<%= @post["thumb_url"] %>') no-repeat center/cover"<% end %>></div>
<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="section products py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-12">
				<h1 class="primary mb-4"><%= @post["title"] %></h1>
				<span class="published p-2 bg-silver my-3"><%= @post["created_at"].to_datetime.strftime("%B %d, %Y") %></span>
				<p class="mt-4 mb-0"><b><%= @post["description"] %></b></p>
				<div class="mt-4 text-justify">
					<%= @post["content"].html_safe if @post["content"] %>
				</div>
				<div class="row">
					<div class="share col-12 mt-0">
						<h6 class="primary"><%= t('category.share') %></h6>
						<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=<%= request.original_url %>" class="fb-xfbml-parse-ignore"><svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22"><path d="M22,3.667A3.8,3.8,0,0,0,18.333,0H3.667A3.8,3.8,0,0,0,0,3.667V18.333A3.8,3.8,0,0,0,3.667,22H11V13.689H8.311V10.022H11V8.594c0-2.464,1.85-4.683,4.125-4.683h2.964V7.578H15.125c-.324,0-.7.394-.7.984v1.461h3.667v3.667H14.422V22h3.911A3.8,3.8,0,0,0,22,18.333Z" transform="translate(0 0)" fill="#007ae2"/></svg></a>
					</div>
				</div>
			</div>
			<% if @related.present? && @related.length != 0 %>
			<div class="col-md-4 col-12">
				<div class="rounded border p-3" id="related">
					<h5 class="primary text-uppercase">Kiến thức cùng chuyên mục</h5>
					<div class="mt-4">
						<% @related.each do |related| %>
							<div class="related row mb-4">
								<div class="thumb col-md-4 col-12 mb-md-0">
									<% if related["thumb_url"] != "thumbs/null" %>
										<img src="<%= related["thumb_url"] %>" class="rounded">
									<% else %>
										<div class="bg-silver h-100 w-100 rounded"></div>
									<% end %>
								</div>
								<div class="col-md-8 col-12 px-md-0">
									<a href="/<%= @categories.find { |i| i["id"] == @subcategories.find { |i| i["id"] == related["category"].to_i }["category_id"] }["slug"] %>/<%= @subcategories.find { |i| i["id"] == related["category"] }["slug"] %>/<%= related["slug"] %>" class="mb-2 font-weight-bold black d-block"><%= related["title"] %></a>
									<p class="mb-0 small"><%= related["created_at"].to_datetime.strftime("%B %d, %Y") %></p>
								</div>
							</div>
						<% end %>
					</div>
				</div>
			</div>
			<% end %>
		</div>
	</div>
</div>