<div class="main__hero small"></div>
<div class="py-3 bg-silver hidden-md">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <a href="<%= url_for(:back) %>" class="btn btn-light d-flex">
          <svg xmlns="http://www.w3.org/2000/svg" width="7.41" height="12" class="my-auto mr-2" viewBox="0 0 7.41 12"><path id="ic_chevron_left_24px" d="M15.41,7.41,14,6,8,12l6,6,1.41-1.41L10.83,12Z" transform="translate(-8 -6)" fill="#333333"/></svg>
          <span class="my-auto">Quay lại</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="block posts py-5">
	<div class="container">
		<h4 class="mb-4 primary-nd"><%= @category["title"].titleize %></h4>
		<div class="row">
			<% if @category["category_type"].to_i == 1 %>
				<% if @posts != [] %>
					<% @posts.last(6).each do |post| %>
						<div class="post-item col-md-4 col-12 mb-4">
							<div class="item bg-silver">
								
								<div class="thumb bg-silver">
									<% if post["thumb_url"] != "thumbs/null" %>
										<img data-src="<%= post["thumb_url"] %>" class="mb-3" alt="<%= post["title"] %>" width="100%">
									<% end %>
								</div>
								
								<div class="content p-3">
									<a href="/<%= params[:category] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>/<%= post["slug"] %>" class="black">
										<h5><%= post["title"] %></h5>
									</a>
									<p class="my-3">
										<span><%= l(post["created_at"].to_date, format: :default) %></span> | 
										<a href="/<%= params[:category] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>" class="blue-nd">
											<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["title"].titleize %>
										</a>
									</p>
									<p class="mb-3 truncate"><%= post["description"].html_safe %></p>
									<a href="/<%= params[:category] %>/<%= @subcategories.find { |i| i["id"] == post["category"].to_i }["slug"] %>/<%= post["slug"] %>" class="blue-nd">Xem Thêm</a>
								</div>
							</div>
						</div>
					<% end %>
				<% else %>
					<div class="col-12">
						<p class="mb-0">No post founded!</p>
					</div>
				<% end %>
			<% elsif @category["category_type"].to_i == 3 || @category["category_type"].to_i == 2 %>
				<% if @subcategories.select { |i| i["category_id"].to_i == @category["id"].to_i} != [] %>
					<% @subcategories = @subcategories.sort_by! { |i| -i["order_id"].to_i } %>
					<% controller.redirect_to "/#{params[:category]}/#{ @subcategories.find { |i| i['category_id'].to_i == @category['id'].to_i }['slug']}" %>
				<% else %>
					<div class="col-12">
						<p class="mb-0">Please update content for this page!</p>
					</div>
				<% end %>
			<% end %>
		</div>
	</div>
</div>