@import 'bootstrap';
@import 'framework/variables';
@import 'framework/global';

body {
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.turbolinks-progress-bar {
  height: 3px;
  background-color: $primary;
}

.branding {
  width: 10rem;
  img {
    width: inherit;
  }
}

#search {
  width: 220px;
}

.search_ic {
  width: 45px;
  height: 45px;
  border-radius: 45px;
  background-color: $light;
  top: 1px;
  right: 1px;
  z-index: 1;
}

.category {
  &-item {
    &-expanded {
      opacity: 0;
      visibility: hidden;
      width: 250px;
      top: 3rem;
      z-index: 1;
      .border-bottom {
        &:hover {
          color: $primary;
          background-color: $silver;
        }
        &:last-child {
          border-bottom: none!important;
        }
      }
    }
  }
  &:hover {
    .category-item-expanded {
      opacity: 1;
      visibility: visible;
    }
  }
}

.background {
  &-primary {
    background-color: rgba(0,122,226,1);
    &-st {
      height: inherit;
      background-color: rgba(0,122,226,0.75);
    }
    &-nd {
      background-color: rgba(0,122,226,0.05);
    }
    &-2nd {
      background-color: rgba(0,122,226,0.1);
    }
  }
}

.main__heading {
  height: 110px;
  .height-inherit {
    height: 110px;
  }
}

.main__hero {
  height: 350px;
  background: url('/assets/drnose/images/main__banner.jpg') no-repeat center/cover;
  background-color: $black;
}

.doctor-avartar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid $light;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.map {
  height: 400px;
  &-wrapper {
    width: 100%;
    height: inherit;
    iframe {
      width: inherit;
      height: inherit;
    }
  }
}

.price {
  .thumb {
    height: 210px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.posts {
  line-height: 1.5;
  .thumb {
    height: 200px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    border-bottom: 5px solid $primary
  }

  .post-item {
    .content {
      min-height: 255px;
    }
  }

  ul {
    li {
      margin-bottom: 0.5rem;
      ul {
        margin-top: 0.5rem;
      }
    }
  }
}

.about {
  &-item {
    min-height: 195px;
  }
} 

.related {
  .thumb {
    height: 75px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &:last-child {
    margin-bottom: 0!important;
  }
  &-fixed {
    position: fixed;
    top: 2.5rem;
  }
}

.block {
  &.post {
    .thumb {
      img { 
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    a {
      &:hover {
        color: $primary
      }
    }
  }
}

.published {
  border-left: 5px solid $primary
}

.timeline {
  border-left: 3px solid #79bffb;
  &-item {
    h6 {
      position: relative;
      &:before {
        content: " ";
        width: 1rem;
        height: 1rem;
        border-radius: 1rem;
        border: 0.25rem solid #79bffb;
        display: block;
        position: absolute;
        top: 0.1rem;
        left: -1.5rem;
        margin-right: 1rem;
        background-color: $primary;
      }
    }
    &-expanded {
      position: relative;
      &:before {
        content: " ";
        width: 15px;
        height: 15px;
        display: block;
        position: absolute;
        left: -15px;
        top: calc(50% - 15px);
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid rgba(0,122,226,0.05);
      }
      p {
        position: relative;
        margin-left: 1.25rem;
        &:before {
          content: " ";
          width: 0.75rem;
          height: 0.75rem;
          display: block;
          position: absolute;
          top: 0.25rem;
          left: -1.25rem;
          margin-right: 1rem;
          background-color: $primary;
        }
      }
    }
  }  
}

@media (max-width: 576px) {
  .main__heading {
    height: 90px;
    .height-inherit {
      height: 90px;
    }
  }

  .related {
    .thumb {
      height: 150px;
    }
    &-fixed {
      position: unset;
      top: unset;
    }
  }

  #search {
    width: 100%;
  }

  .main__hero {
    height: 200px;
  }

  .main__heading {
    top: 0;
  }

  .main__content {
    margin-top: 90px;
  }

  .branding {
    width: 100%;
  }

  .mobile__nav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 90px;
    left: -100%;
    z-index: 1;
    background-color: $light;
    @include transition(left .2s linear);
    &-list {
      width: 100%;
      &--item {
        width: 100%;
        height: 51px;
        overflow: hidden;
        @include transition(height .3s linear);
        .position-absolute {
          width: 49px;
          height: 49px;
          top: 0;
          right: 0;
          background-color: $silver;
          svg {
            @include transition(transform .3s linear);
          }
        }
        &.active {
          height: unset;
          .position-absolute {
            svg {
              transform: rotate(90deg);
            }
          }
        }
      }
    }
    &.open {
      left: 0;
    }
  }
}