<div class="acp__content overlay">
  <div class="container">
    <div class="wrapper mt-5">
    	<h2>Forgot your password?</h2>
			<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
			  <%= devise_error_messages! %>

			  <div class="form-group mt-4">
			    <%= f.label :email %><br />
			    <%= f.email_field :email, :class => 'form-control', autofocus: true, autocomplete: "email" %>
			  </div>

			  <div class="actions mt-3">
			    <%= f.submit "Send me reset password instructions", :class => 'btn btn-primary' %>
			  </div>
			<% end %>
		</div>
	</div>
</div>