<%= form_for [:acp, @pricing], html: { id: 'form', multipart: true } do |f|%>
  <div class="admin__control-container-wrapper bg-white remote">
    <h5 class="mt-2 float-left"><%= action_name == "new" ? "Thêm" : "Sửa" %> Giá Dịch Vụ</h5>
    <div class="form-group vertical row mt-4">
      <%= f.label :title, 'Title', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.text_field :title, class: 'form-control', :required => true %>
        <small class="text-muted">Tiêu đề giới hạn từ 10 - 100 ký tự.</small>
      </div>
    </div>

    <div class="form-group vertical row">
      <%= f.label :description, 'Giới Thiệu', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.text_area :description, size: '50x2', class: 'form-control', :required => true %>
        <small class="text-muted">Đoạn giới thiệu dịch vụ giới hạn từ 50 - 200 ký tự.</small>
      </div>
    </div>

    <div class="form-group vertical row mt-4">
      <%= f.label :pricing, 'Pricing', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.text_field :pricing, class: 'form-control', :required => true %>
        <small class="text-muted">Đặt giá cho dịch vụ</small>
      </div>
    </div>

    <div class="form-group vertical row mt-4">
      <%= f.label :slug, 'Slug', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <%= f.text_field :slug, class: 'form-control', :required => true %>
        <small class="text-muted">Đặt đường dẫn tới chi tiết dịch vụ</small>
      </div>
    </div>

    <div class="form-group vertical row">
      <%= f.label :thumb, 'Ảnh Thumbnail', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <% if action_name == "edit" && @pricing.thumb.exists? && params[:thumb].nil? %>
          <div class="admin__control-container-additional-thumb clearfix">
            <div class="admin__control-container-additional-thumb-review">
              <a href="<%= request.fullpath %>?thumb=replace" class="admin__control-container-additional-thumb-review-edit">
                <span class="close_ic">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M388.6,875.4,383,881l5.6,5.6-1.4,1.4-5.6-5.6L376,888l-1.4-1.4,5.6-5.6-5.6-5.6L376,874l5.6,5.6,5.6-5.6Z" transform="translate(-374.6 -874)" fill="#fff"/></svg>
                </span>
              </a>
              <img src="<%= @pricing.thumb.url %>">
            </div>
            <div class="admin__control-container-additional-thumb-info">
              <p>Filename: <%= @pricing.thumb_file_name %></p>
            </div>
          </div>
        <% else %>
        <div class="input-group customize">
          <div class="custom-file">
            <%= f.file_field :thumb, class: 'custom-file-input', id: "thumbUpload" %>
            <label class="custom-file-label" for="thumbUpload">Chọn ảnh tải lên</label>
          </div>
        </div>
        <% if action_name == "edit" && @pricing.thumb.exists? && params[:thumb] == "replace" %>
          <small><a href="<%= edit_acp_pricing_path(@pricing) %>">Huỷ</a></small>
        <% end %>
        <% end %>
      </div>
    </div>
    
    <div class="form-group row mb-0">
      <%= f.label :hidden, 'Ẩn', class: 'col-sm-2 col-form-label text-right' %>
      <div class="col-sm-9 col-form-value">
        <div class="switch-group clearfix">
          <label class="switch">
            <%= f.check_box :hidden, { class: 'custom-control-input', checked: @pricing.hidden }, "true", "false" %>
            <span class="slider round"></span>
          </label>
          <%= f.label :hidden, 'Ẩn dịch vụ này', class: 'switch-group-label' %>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-sm-12">
        <%= button_tag(type: "submit", class: "btn btn-default primary-nd rounded mr-2") do %>
          Lưu Giá Dịch Vụ
        <% end %>
        <a href="<%= url_for(:back) %>" class="btn btn-default dark outline rounded">Quay Lại</a>
      </div>
    </div>
  </div>
<% end %>
