<div class="container-fluid admin__control">
  <div class="row">
    <div class="admin__control-navigator clearfix">
      <%= render 'acp/shared/sidebar' %>
    </div>
    <div class="admin__control-container clearfix">
      <div class="admin__control-container-resize"></div>
      <%= render 'form' %>
    </div>
  </div>
</div>