<div class="container-fluid admin__control">
  <div class="row">
    <div class="admin__control-navigator clearfix">
      <%= render 'acp/shared/sidebar' %>
    </div>
    <div class="admin__control-container clearfix">
      <div class="admin__control-container-resize"></div>
      <div class="admin__control-container-wrapper bg-white full">
        <div class="admin__control-container-wrapper-heading clearfix">
          <h5 class="mt-2 float-left">Tất Cả Giá Dịch Vụ</h5>
          <a href="<%= new_acp_pricing_path %>" class="btn btn-default primary rounded outline btn-md float-right"><span class="add_ic"><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14"><path d="M19,151.2H13v6H11v-6H5v-2h6v-6h2v6h6Z" transform="translate(-5 -143.2)" fill="var(--main-color)"/></svg></span>&nbsp;&nbsp;Thêm Mới</a>
        </div>

        <div class="form-group mt-3">
          <div class="form-search">
            <span class="search_ic"></span>
            <input type="" name="" id="search" class="form-control" placeholder="Tìm kiếm...">
          </div>
        </div>
        <% if @pricings.present? %>
        <table class="table croped mt-3 mb-0">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Tên Dịch Vụ</th>
              <th scope="col">Giá</th>
              <th scope="col">Ẩn</th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <% @pricings.each do |pricing| %>
              <tr>
                <td><%= pricing["id"] %></td>
                <td><%= pricing["title"] %></td>
                <td><%= pricing["pricing"] %></td>
                <td><span class="status status-<%= pricing["hidden"] %>"><%= boolean(pricing["hidden"]).titlecase %></span></td>
                <td>
                  <div class="ribbon">
                    <span class="admin-edit_ic ribbon-show"></span>
                    <div class="ribbon-action rounded">
                      <div class="ribbon-action-list">
                        <a class="ribbon-action-list-item" href="<%= edit_acp_pricing_path(pricing["id"]) %>">Sửa</a>
                        <a class="ribbon-action-list-item primary" rel="nofollow" data-confirm="Are you sure?" data-method="delete" href="<%= acp_pricing_path(pricing["id"]) %>">Xoá</a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <% else %>
          <span class="small">No record found!</span>
        <% end %>
      </div>
    </div>
  </div>
</div>