<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vnetwork :: Basic CMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <%= stylesheet_link_tag    'acp', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'acp', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= controller_name == "main" || controller_name == "posts" ? "no-scroll" : "" %>">
    <div class="main__content">
      <%= yield %>
    </div>
  </body>
</html>
