<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <% if controller_name == "posts" && (["category","detail"].include? action_name) %>
    <title><%= @source["title"] %></title>
    <meta name="description" content="<%= @source["description"] %>">
    <meta property="og:title" content="<%= @source["title"] %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:type" content="website">
    <meta property="og:description" content="<%= @source["description"] %>">
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="628" />
    <meta property="og:image" content="<%= @source["thumb_url"].gsub("/thumb/","/original/") %>">
    <% else %> 
    <title><%= @settings.present? && @settings[0]["title"].present? ? @settings[0]["title"] : 'Vnetwork CMS' %></title>
    <% end %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="<%= @settings.present? && @settings[0]["g_verification"].present? ? @settings[0]["g_verification"] : 'SbRHRZ9WADJZNpo24D3e_fncbysi6iFa5TvaPxDGEOs' %>" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap&subset=vietnamese" rel="stylesheet">
    <% if Rails.env.production? %>
    <%= inline_css 'application.css' %>
    <%= inline_js 'jquery3' %>
    <%= inline_js 'application' %>
    <% else %>
    <%= stylesheet_link_tag    'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'jquery3', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% end %>
    <!-- Global site tag (gtag..js) - AdWords: <%= @settings.present? && @settings[0][":g_analytic"].present? ? @settings[0][":g_analytic"] : 'UA-101834887-1' %> -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= @settings.present? && @settings[0]["g_analytic"].present? ? @settings[0]["g_analytic"] : 'UA-101834887-1' %>"></script>
    <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', '<%= @settings.present? && @settings[0]["g_analytic"].present? ? @settings[0][":g_analytic"] : 'UA-101834887-1' %>'); </script>

    <!-- Facebook Pixel Code -->
    <script>
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '<%= @settings.present? && @settings[0]["fb_pixel"].present? ? @settings[0]["fb_pixel"] : 'XXXXXXXXXXXXXXXX' %>');
      fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
      src="https://www.facebook.com/tr?id=<%= @settings.present? && @settings[0]["fb_pixel"].present? ? @settings[0]["fb_pixel"] : 'XXXXXXXXXXXXXXXX' %>&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v3.3"></script>
  </head>
  <body>
    <div class="main__heading bg-light core position-sm-fixed">
      <div class="container">
        <div class="row">
          <div class="col-md-3 col-5 d-flex height-inherit">
            <a href="<%= root_url %>" class="branding my-auto">
              <img src="/assets/drnose/images/logo_drnose.svg">
            </a>
          </div>
          <div class="col-md-9 col-5 px-md-3 px-0">
            <div class="d-flex justify-content-end height-inherit">
              <div class="mr-4 hidden-sm my-auto d-flex w-25">
                <span class="my-auto mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="20" viewBox="0 0 14 20"><path id="ic_location_on_24px" d="M12,2A7,7,0,0,0,5,9c0,5.25,7,13,7,13s7-7.75,7-13A7,7,0,0,0,12,2Zm0,9.5A2.5,2.5,0,1,1,14.5,9,2.5,2.5,0,0,1,12,11.5Z" transform="translate(-5 -2)" fill="#0089ff"/></svg>
                </span>
                <p class="mb-0 my-auto small"><%= @settings.present? && @settings[0]["address"].present? ? @settings[0]["address"] : '27 Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Hồ Chí Minh' %></b>
              </div>
              <div class="mr-4 hidden-sm my-auto d-flex">
                <span class="my-auto mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="14" height="22" viewBox="0 0 14 22"><path id="ic_phone_android_24px" d="M16,1H8A3,3,0,0,0,5,4V20a3,3,0,0,0,3,3h8a3,3,0,0,0,3-3V4A3,3,0,0,0,16,1ZM14,21H10V20h4Zm3.25-3H6.75V4h10.5Z" transform="translate(-5 -1)" fill="#0089ff"/></svg>
                </span>
                <p class="mb-0 my-auto small">Hotline:<span class="br"><%= @settings.present? && @settings[0]["phone"].present? ? @settings[0]["phone"].split(" - ")[0] : '(028) 7306 8789' %></b>
              </div>
              <div class="mr-4 hidden-sm my-auto d-flex">
                <span class="my-auto mr-2">
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20"><path id="ic_schedule_24px" d="M11.99,2A10,10,0,1,0,22,12,10,10,0,0,0,11.99,2ZM12,20a8,8,0,1,1,8-8A8,8,0,0,1,12,20Zm.5-13H11v6l5.25,3.15L17,14.92l-4.5-2.67Z" transform="translate(-2 -2)" fill="#0089ff"/></svg>
                </span>
                <p class="mb-0 my-auto small">Giờ mở cửa:<span class="br">T2 - T7 8:00 - 17:00</b>
              </div>
              <div class="m-0 my-auto">
                <form action="/search" method="GET">
                <div class="form-group position-relative mb-0">
                  <span class="search_ic position-absolute d-flex">
                    <svg xmlns="http://www.w3.org/2000/svg" class="m-auto" width="16" height="16" viewBox="0 0 16 16"><path id="ic_search_24px" d="M14.435,13.063h-.723l-.256-.247a5.955,5.955,0,1,0-.64.64l.247.256v.723L17.637,19,19,17.637Zm-5.489,0a4.117,4.117,0,1,1,4.117-4.117A4.111,4.111,0,0,1,8.946,13.063Z" transform="translate(-3 -3)" fill="#555"/></svg>
                  </span>
                  <input class="form-control rounded" id="search" name="s" placeholder="Enter keywords...">
                </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-md-0 col-2 d-flex">
            <span class="m-auto hidden-md mobile__toggle cursor-pointer">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="12" viewBox="0 0 20 12"><path id="ic_dehaze_24px" d="M2,15.5v2H22v-2Zm0-5v2H22v-2Zm0-5v2H22v-2Z" transform="translate(-2 -5.5)" fill="#333"/></svg>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="main__nav border-top border-bottom hidden-sm">
      <div class="container">
        <div class="d-md-flex mx-md-n3 mx-3 justify-content-between">
          <p class="mb-0 mx-2 font-weight-bold text-uppercase py-3 d-flex"><a href="<%= about_url %>" class="<%= current_page?(about_path) ? "primary" : "black" %> small font-weight-bold">Giới Thiệu</a></p>
          <% @categories.sort_by!{ |i| i["order_id"].to_i }.select { |i| i["featured"] == true }.each do |cat| %>
            <% subcategories = @subcategories.sort_by!{ |i| -i["order_id"].to_i }.select { |i| i["category_id"] == cat["id"] && i["featured"] == true } %>
            <div class="category mx-2 position-relative">
              <div class="category-item font-weight-bold text-uppercase py-3 d-flex">
                <a href="/<%= cat["slug"] %>" class="<%= request.fullpath.split('/').second == cat["slug"] ? "primary" : "black" %> my-auto small font-weight-bold">
                  <%= cat["title"] %>
                </a>
                <% if subcategories.present? %><span class="my-auto ml-1"><svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7"><path id="ic_keyboard_arrow_down_24px" d="M7.41,7.84,12,12.167,16.59,7.84,18,9.172,12,14.84,6,9.172Z" transform="translate(-6 -7.84)" fill="<%= request.fullpath.split('/').second == cat["slug"] ? "#007ae2" : "#707070" %>"/></svg></span><% end %>
              </div>
              <% if subcategories.present? %>
                <div class="category-item-expanded position-absolute bg-light core rounded shadow">
                  <% subcategories.each do |subcategory| %>
                    <a href="/<%= cat["slug"] %>/<%= subcategory["slug"] %>" class="py-3 px-3 small black font-weight-bold text-uppercase d-flex border-bottom text-decoration-none"><%= subcategory["title"] %></a>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
          <p class="mb-0 mx-3 font-weight-bold text-uppercase py-3"><a href="<%= price_url %>" class="<%= current_page?(price_url) ? "primary" : "black" %> small font-weight-bold">BẢNG GIÁ</a></p>
        </div>
      </div>
    </div>
    <div class="mobile__nav hidden-md border-top px-3 position-fixed">
      <div class="mobile__nav-list position-relative">
        <div class="mobile__nav-list--item">
          <a href="<%= root_path %>" class="<%= current_page?(root_path) ? "primary" : "black-5nd" %> font-weight-bold text-uppercase border-bottom py-3 d-block small">Trang Chủ</a>
        </div>
        <div class="mobile__nav-list--item">
          <a href="<%= about_path %>" class="<%= current_page?(about_path) ? "primary" : "black-5nd" %> font-weight-bold text-uppercase border-bottom py-3 d-block small">Về Chúng Tôi</a>
        </div>
        <% @categories.sort_by!{ |i| i["order_id"].to_i }.select { |i| i["featured"] == true }.each do |cat| %>
          <% subcategories = @subcategories.sort_by!{ |i| i["order_id"].to_i }.select { |i| i["category_id"] == cat["id"] && i["featured"] == true } %>
          <div class="mobile__nav-list--item">
            <% if subcategories.present? %>
            <div class="position-relative">
              <span class="position-absolute d-flex cursor-pointer">
                <svg xmlns="http://www.w3.org/2000/svg" width="7" height="12" class="m-auto" viewBox="0 0 7 12"><path id="ic_keyboard_arrow_down_24px" d="M7.41,7.84,12,12.167,16.59,7.84,18,9.172,12,14.84,6,9.172Z" transform="translate(-7.84 18) rotate(-90)" fill="#707070"/></svg>
              </span>
              <span class="<%= request.fullpath.split('/').second == cat["slug"] ? "primary" : "black-5nd" %> font-weight-bold text-uppercase border-bottom py-3 d-block small"><%= cat["title"] %></span>
              <% subcategories.each do |subcategory| %>
                <a href="/<%= cat["slug"] %>/<%= subcategory["slug"] %>" class="<%= request.fullpath.split('/').third == subcategory["slug"] ? "primary" : "black-5nd" %> font-weight-bold text-uppercase border-bottom py-3 d-block small"><%= subcategory["title"] %></a>
              <% end %>
            </div>
            <% else %>
            <a href="/<%= cat["slug"] %>" class="<%= request.fullpath.split('/').second == cat["slug"] ? "primary" : "black-5nd" %> font-weight-bold text-uppercase border-bottom py-3 d-block small"><%= cat["title"] %></a>
            <% end %>
          </div>
        <% end %>
        <div class="mobile__nav-list--item">
          <a href="<%= price_path %>" class="<%= current_page?(price_path) ? "primary" : "black-5nd" %> font-weight-bold text-uppercase border-bottom py-3 d-block small">Bảng Giá</a>
        </div>
      </div>
    </div>
    <div class="main__content">
      <%= yield %>
    </div>
    <div class="block background-primary-nd py-5">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h4 class="primary mb-0">Liên hệ</h4>
            <% if flash[:contact_success] %>
              <div class="alert alert-warning mt-3"><%= flash[:contact_success] %></div>
            <% end %>
            <div class="mt-3">
              <form action="/contact/send" method="POST">
                <input type="hidden" class="hidden" name="csrf-token" id="csrf-token" value="">
                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <input class="form-control" name="name" value="" placeholder="Tên">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <input class="form-control" name="email" value="" placeholder="Email">
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <input class="form-control" name="phone" value="" placeholder="Điện thoại">
                    </div>
                  </div>
                  <div class="col-md-6 col-12">
                    <div class="form-group">
                      <input class="form-control" name="subject" value="" placeholder="Tiêu đề">
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <textarea class="form-control" name="content" value="" cols="50" rows="5" placeholder="Nội dung"></textarea>
                </div>

                <div class="text-left">
                  <button type="submit" class="btn btn-default primary">Gửi Liên Hệ</button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6 col-12 mt-md-0 mt-4">
            <div class="map rounded shadow overflow-hidden">
              <div class="map-wrapper">
                <iframe src="https://maps.google.com/maps?q=147%20Nh%E1%BA%ADt%20T%E1%BA%A3o&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-primary-2nd py-5">
      <h6 class="mb-2 primary text-center mx-md-0 mx-4">Đối với các câu hỏi hoặc cuộc hẹn bạn có thể gọi cho chúng tôi T2-T7: 8h - 18h. CN: 8h - 12h</h6>
      <h3 class="mb-0 primary text-center"><%= @settings.present? && @settings[0]["phone"].present? ? @settings[0]["phone"] : '(028) 7306 8789' %></h3>
    </div>
    <div class="main__footer py-5" id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-12 mb-md-0 mb-4">
            <h5 class="primary text-uppercase font-weight-bold"><%= @settings.present? && @settings[0]["company"].present? ? @settings[0]["company"] : 'Công Ty Cổ Phần Vnetwork' %></h5>
            <div class="mt-4">
              <p class="mb-2">
                <b>Địa chỉ:</b> <%= @settings.present? && @settings[0]["address"].present? ? @settings[0]["address"] : '27 Nguyễn Hữu Thọ, Phường Tân Hưng, Quận 7, Hồ Chí Minh' %>
              </p>
              <p class="mb-2">
                <b>Hotline:</b> <%= @settings.present? && @settings[0]["phone"].present? ? @settings[0]["phone"] : '(028) 7306 8789' %>
              </p>
              <p class="mb-0">
                <b>Email:</b> <%= @settings.present? && @settings[0]["email"].present? ? @settings[0]["email"] : 'contact@vnetwork.vn' %>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-12 mb-md-0 mb-4">
            <h5 class="primary text-uppercase font-weight-bold">Dịch vụ</h5>
            <div class="mt-4">
              <% @categories.sort_by!{ |i| i["order_id"].to_i }.select { |i| i["category_type"] == 3 && i["featured"] == true && i["id"] != 6 }.each do |cat| %>
                <% @subcategories.sort_by!{ |i| i["order_id"].to_i }.select { |i| i["category_id"] == cat["id"] && i["featured"] == true }.last(5).each do |subcategory| %>
                <p class="mb-2"><a href="/<%= cat["slug"] %>/<%= subcategory["slug"] %>" class="mb-2 black"><%= subcategory["title"] %></a></p>
                <% end %>
              <% end %>
            </div>
          </div>
          <div class="col-md-4 col-12">
            <div class="fb-page" data-href="https://www.facebook.com/thammydrnose/" data-tabs="timeline" data-width="" data-height="70" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="background-primary">
      <p class="mb-0 light py-3 text-center small">Copyright © 2015 - Dr. Nose - All Rights Reserved<span class="hidden-sm"> | Designed by VNETWORK</span></p>
    </div>
  </body>
</html>
